@charset "UTF-8";
section {
    width:1200px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    margin-left: 30px;
}

table {
    width: 100%;
    
    border-top: 2px solid black;
    border-bottom:1px solid rgba(201, 199, 199, 0.823);
    border-collapse: collapse;
}
#tableWrap{
    width: 60%;
    margin: auto;
}

tr{
    border-top: 1px solid rgba(201, 199, 199, 0.823);
    height: 40px;
}
th{
    font-size: 18px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.content{
    display:none;
}
.content>td{
    text-align: left;
    padding: 20px;
}
.title{
    color: rgb(108, 128, 075);
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    margin-top: 10px;
    margin-left: 30px;
}
#search_tap{
    width: 60%;
    margin: 0 auto;
    text-align: right;
    padding-bottom: 10px;
}
#search_tap>span {
    display: block;
    margin-right: 10px;
}

.t1{
    width: 20%;
}
.t2{
    width: 80%;
    text-align: left;
}

.view>td:first-child{
    text-align: center;
    color: rgb(250, 174, 088);
    font-weight: bold;
}

.view:hover{
	cursor: pointer;
}

.btnWrap{
	text-align: right;
}

.noticeBtn{
    background-color: rgb(171, 184, 104);
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    border: none;
    
}
.noticeBtn:hover{
    background-color: rgb(250, 174, 088);
    cursor: pointer;
}

.category{
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 10px;
    color: rgb(250, 174, 088);
    text-decoration:none;
    display: inline-block;
}
.category:link{
    font-weight: bold;
    font-size: 18px;
    color: rgb(250, 174, 088);
    text-decoration:none;
}
.category:hover{
    color: white;
    background-color: rgb(250, 174, 088);
    text-decoration:none;
}

.page-area{
	width: 100%;
	text-align: center;
}

.page{
	display: inline-block;
	color: white;
	text-decoration:none;
	width: 100%;
}
.page:hover{
	background-color:rgb(250, 174, 088);
}
.paging{
	display: inline-block;
	background-color: rgb(171, 184, 104);
	width : 3%;
}
.paging:hover{
	background-color: rgb(250, 174, 088);
}