@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.footerWrap *
{
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    line-height: 2;
    list-style: none;
}
/* 전체 프레임 */
.footerWrap
{
    width: 100%;
    background: rgb(108, 128, 75);
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    
}
.footerContents
{
    width: 1000px;
    margin: auto;
}
.footerContents>.content1
{
    width: 50%;
    float: left;
}
.footerContents>.content2
{
    width: 50%;
    float: left;
}
/* content1 */
.footerContents>.content1>ul
{
    padding: 0;
}
.footerContents>.content1>ul>:nth-child(1)
{
    font-size: 15px;
    font-weight: 700;
}
/* content2 */
.footerContents>.content2>.help>ul
{
    padding-left: 100px;
}
.footerContents>.content2>div>ul>:nth-child(1)
{
    font-size: 15px;
    font-weight: 700;
}
.footerContents>.content2 li:nth-child(6),
.footerContents>.content2>.help>ul>li:nth-child(7),
.footerContents>.content2>.help>ul>li:nth-child(8)
{
    float: left;
    letter-spacing: 10px;
    padding-top: 5px;
    padding-left: 10px;
}
.fa-instagram,
.fa-facebook-square,
.fa-youtube
{
    font-size: 30px;
}
.fa-instagram:hover,
.fa-facebook-square:hover,
.fa-youtube:hover
{
    color: rgb(171, 184, 104);
}