body *{
  /* border: 1px solid black; */
}

#wrap{
 padding: auto;
 margin: auto;
 width: 1200px;
 height: 2700px;
}
header{
 height: 10%;
}
section{
 height: 80%;
}
footer{
 height: 10%;
}
header h3{
 margin-top: 30px;
  text-align: center;
}

hr{
  margin-top: 40px;
}

#title_img{
height: 70%;
}

#writer{
  width: 160px;
  height: 50px;
  float: right;
  margin-right: 60px;
  background-color: 	#0CD49C;
  border: 2px solid white;;
  border-radius: 5px ;
  font-size: 1.0em;
  font-weight: 800;
  color:white;
  cursor: pointer;
  
}

#title{
  text-align: center;
  height: 30%;
  background-color: #0CD49C;
  font-size: 2.0em;
  font-weight: 800;
  line-height: 75px;

}


.review_li{
 border: 1px solid #0CD49C;
 border-radius: 3px;
}
#review_ul{
 list-style-type: none;
 padding: 0;
 margin: 0;
 width: 100%;
 height: 100%;
}


.review_li{
 width: 300px;
 height: 550px;
 margin-top: 150px;
 float: left;
 margin-left: 70px;
 
}
.review_img img{
 width: 100%;
 height: 250px;
 border: none;
}
.review_pro{
 width: 100%;
 height: 80px;
 text-align: center;
 line-height: 40px;
 font-size:14px;
 font-weight: 600;
 padding-top: 30px;
 border: #0CD49C;
}

.review_contents{
 width: 100%;
 height: 120px;
 line-height: 40px;
 text-align: center;
 font-size:12px;
 white-space: normal;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 overflow: hidden;
 -webkit-box-orient: vertical;
}

.userId{
 font-size: 12px;
}
.review_date{
 color: gray;
 font-size: 12px;
}
a{
  text-decoration: none;
  color: black;
}
.page_area{
  text-align: center;
  font-size: 20px;
}